# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [10]:
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = 'D:\Philip\100daysAI\part2/'
df_train = pd.read_csv('D:/Philip/100daysAI/part2/titanic_train.csv')#最好都用斜線，不要用反斜線
df_test = pd.read_csv('D:/Philip/100daysAI/part2/titanic_test.csv')
df_train.shape

(891, 12)

In [11]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)#拿掉passengerId及survived
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
#df.head()
print(df)

     Pclass                                               Name     Sex   Age  \
0         3                            Braund, Mr. Owen Harris    male  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2         3                             Heikkinen, Miss. Laina  female  26.0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4         3                           Allen, Mr. William Henry    male  35.0
5         3                                   Moran, Mr. James    male   NaN
6         1                            McCarthy, Mr. Timothy J    male  54.0
7         3                     Palsson, Master. Gosta Leonard    male   2.0
8         3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9         2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10        3                    Sandstrom, Miss. Marguerite Rut  female   4.0
11        1                           Bonnell, Miss. Elizabeth  female  58.0
12        3                     Saundercock, Mr. William Henry    male  20.0
13        3                        Andersson, Mr. Anders Johan    male  39.0
14        3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15        2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16        3                               Rice, Master. Eugene    male   2.0
17        2                       Williams, Mr. Charles Eugene    male   NaN
18        3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19        3                            Masselmani, Mrs. Fatima  female   NaN
20        2                               Fynney, Mr. Joseph J    male  35.0
21        2                              Beesley, Mr. Lawrence    male  34.0
22        3                        McGowan, Miss. Anna "Annie"  female  15.0
23        1                       Sloper, Mr. William Thompson    male  28.0
24        3                      Palsson, Miss. Torborg Danira  female   8.0
25        3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0
26        3                            Emir, Mr. Farred Chehab    male   NaN
27        1                     Fortune, Mr. Charles Alexander    male  19.0
28        3                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN
29        3                                Todoroff, Mr. Lalio    male   NaN
..      ...                                                ...     ...   ...
388       3                               Canavan, Mr. Patrick    male  21.0
389       3                        Palsson, Master. Paul Folke    male   6.0
390       1                         Payne, Mr. Vivian Ponsonby    male  23.0
391       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
392       3                      Abbott, Master. Eugene Joseph    male  13.0
393       2                               Gilbert, Mr. William    male  47.0
394       3                           Kink-Heilmann, Mr. Anton    male  29.0
395       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
396       3                               Colbert, Mr. Patrick    male  24.0
397       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
398       3                     Larsson-Rondberg, Mr. Edvard A    male  22.0
399       3                           Conlon, Mr. Thomas Henry    male  31.0
400       1                            Bonnell, Miss. Caroline  female  30.0
401       2                                    Gale, Mr. Harry    male  38.0
402       1                     Gibson, Miss. Dorothy Winifred  female  22.0
403       1                             Carrau, Mr. Jose Pedro    male  17.0
404       1                       Frauenthal, Mr. Isaac Gerald    male  43.0
405       2       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0
406       2                          Ware, Mr. William Jeffery    male  23.0
407       1                         Widener, Mr. George Dunton    male  50.0
408       3                    Riordan, Miss. Johanna Hannah""  female   NaN
409       3                          Peacock, Miss. Treasteall  female   3.0
410       3                             Naughton, Miss. Hannah  female   NaN
411       1    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                     Henriksson, Miss. Jenny Lovisa  female  28.0
413       3                                 Spector, Mr. Woolf    male   NaN
414       1                       Oliva y Ocana, Dona. Fermina  female  39.0
415       3                       Saether, Mr. Simon Sivertsen    male  38.5
416       3                                Ware, Mr. Frederick    male   NaN
417       3                           Peter, Master. Michael J    male   NaN

     SibSp  Parch              Ticket      Fare        Cabin Embarked
0        1      0           A/5 21171    7.2500          NaN        S
1        1      0            PC 17599   71.2833          C85        C
2        0      0    STON/O2. 3101282    7.9250          NaN        S
3        1      0              113803   53.1000         C123        S
4        0      0              373450    8.0500          NaN        S
5        0      0              330877    8.4583          NaN        Q
6        0      0               17463   51.8625          E46        S
7        3      1              349909   21.0750          NaN        S
8        0      2              347742   11.1333          NaN        S
9        1      0              237736   30.0708          NaN        C
10       1      1             PP 9549   16.7000           G6        S
11       0      0              113783   26.5500         C103        S
12       0      0           A/5. 2151    8.0500          NaN        S
13       1      5              347082   31.2750          NaN        S
14       0      0              350406    7.8542          NaN        S
15       0      0              248706   16.0000          NaN        S
16       4      1              382652   29.1250          NaN        Q
17       0      0              244373   13.0000          NaN        S
18       1      0              345763   18.0000          NaN        S
19       0      0                2649    7.2250          NaN        C
20       0      0              239865   26.0000          NaN        S
21       0      0              248698   13.0000          D56        S
22       0      0              330923    8.0292          NaN        Q
23       0      0              113788   35.5000           A6        S
24       3      1              349909   21.0750          NaN        S
25       1      5              347077   31.3875          NaN        S
26       0      0                2631    7.2250          NaN        C
27       3      2               19950  263.0000  C23 C25 C27        S
28       0      0              330959    7.8792          NaN        Q
29       0      0              349216    7.8958          NaN        S
..     ...    ...                 ...       ...          ...      ...
388      0      0              364858    7.7500          NaN        Q
389      3      1              349909   21.0750          NaN        S
390      0      0               12749   93.5000          B24        S
391      0      1            PC 17592   39.4000          D28        S
392      0      2           C.A. 2673   20.2500          NaN        S
393      0      0          C.A. 30769   10.5000          NaN        S
394      3      1              315153   22.0250          NaN        S
395      1      0               13695   60.0000          C31        S
396      0      0              371109    7.2500          NaN        Q
397      1      1               13567   79.2000          B41        C
398      0      0              347065    7.7750          NaN        S
399      0      0               21332    7.7333          NaN        Q
400      0      0               36928  164.8667           C7        S
401      1      0               28664   21.0000          NaN        S
402      0      1              112378   59.4000          NaN        C
403      0      0              113059   47.1000          NaN        S
404      1      0               17765   27.7208          D40        C
405      0      0       SC/PARIS 2166   13.8625          D38        C
406      1      0               28666   10.5000          NaN        S
407      1      1              113503  211.5000          C80        C
408      0      0              334915    7.7208          NaN        Q
409      1      1  SOTON/O.Q. 3101315   13.7750          NaN        S
410      0      0              365237    7.7500          NaN        Q
411      1      0               19928   90.0000          C78        Q
412      0      0              347086    7.7750          NaN        S
413      0      0           A.5. 3236    8.0500          NaN        S
414      0      0            PC 17758  108.9000         C105        C
415      0      0  SOTON/O.Q. 3101262    7.2500          NaN        S
416      0      0              359309    8.0500          NaN        S
417      1      1                2668   22.3583          NaN        C

[1309 rows x 10 columns]

In [29]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index()#用資料類型來重設這個dataframe
print(dtype_df)
dtype_df.columns = ["Count", "Column Type"]
print(dtype_df)
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()
dtype_df

      index        0
0    Pclass    int64
1      Name   object
2       Sex   object
3       Age  float64
4     SibSp    int64
5     Parch    int64
6    Ticket   object
7      Fare  float64
8     Cabin   object
9  Embarked   object
      Count Column Type
0    Pclass       int64
1      Name      object
2       Sex      object
3       Age     float64
4     SibSp       int64
5     Parch       int64
6    Ticket      object
7      Fare     float64
8     Cabin      object
9  Embarked      object

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [17]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

在一般操作的時候，int跟float都是數值的關係，所以操錯都沒什麼問題
但是object那邊，卻很有問題，因為object沒有明確定義出一個數值，所以沒辦法去做這類的計算



# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [22]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()
df[int_features].max()
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [19]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
"""
Your Code Here
"""

df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [20]:
df[object_features].mean()

Series([], dtype: float64)

In [21]:
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [23]:
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [24]:
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [25]:
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

In [26]:
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [27]:
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64